
        <!-- <div class="animated zoomInRight">
            <div class="indentLeft input-group search-bar">
                <input type="text" name="country" id="country" ng-model="country" ng-keyup="complete(country)" class="form-control" placeholder="Enter the recipe name" autofocus />
                <ul ng-if="country" class="list-group" ng-model="hidethis" ng-hide="hidethis">
                    <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
                </ul>


            </div>
              <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
        </div> -->

<!--
        <div class="shadowEffect">


            <div class="span2 ingredients-searchBar">
                <h2>Search by Ingredients</h2>
                <input type="text" ng-model="formData.searchText" class="rounded" class="form-control ng-pristine ng-untouched ng-valid" placeholder="what's in your fridge?" required>
                 <span ng-show="formData.searchText.$touched && formData.searchText.$invalid">Please enter something!</span>
                <button class="btn btn-primary btn-sm" ng-click="searchUserIngredients()">COOK IT !</button>

                <div class="spacing" ng-repeat="x in displayIngredients">
                    <div id="listAlignment" class="list-group-item list-group-item-action list-group-item-secondary" class="list-group">
                        <input type="checkbox" ng-model="x.done"> <span ng-bind="x.ingredientList"></span>
                    </div>
                </div>

                <div ng-if="details">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeIngredients()">Remove marked!</button>
                    <button class="btn btn-primary btn-sm" ng-click="saveUserIngredients()"> Save it !</button>
                </div>
            </div>
        </div> -->

<div class="shadowEffect">
        <div  class="w3-card-2 w3-margin" style="max-width:400px;">
          <header class="w3-container w3-light-grey w3-padding-16">
            <h3>My Ingredient List</h3>
          </header>
          <a href="#/save" class="btn btn-link"> Save it !</a>
          <!-- <button class="btn btn-primary btn-sm" ng-click="saveUserIngredients()"> Save it !</button> -->
          <div class="w3-row w3-margin-top">
            <div class="w3-col s10">
              <input placeholder="what's in your fridge?" ng-model="formData.searchText" class="w3-input w3-border w3-padding">
            </div>
            <div class="w3-col s2">
              <button ng-click="searchUserIngredients()" class="w3-btn w3-padding w3-green">Add</button>
            </div>
          </div>
          <ul class="w3-ul">
            <li ng-repeat="x in displayIngredients" class="w3-padding-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
          </ul>
          <div class="w3-container w3-light-grey w3-padding-16">

            <p class="w3-padding-left w3-text-red">{{errortext}}</p>
          </div>
        </div>
</div>
