
    <div class="container-fluid outerdiv">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
               <div class="row-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><b>FOOD</b> <span class="span-style">Guru</span></a>
                    <a class="navbar-brand" href="#/login">Login</a>
                    <a class="navbar-brand pull-right" ng-href="#/signUp">Register</a>

                    <!-- <div ng-if="user_credentials">
                      Hello <span ng-bind="user_credentials"></span>
                    </div> -->

                </div>

        </nav>

        <noscript>
        <div class="nojs"``>Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
      </noscript>


        <!-- <div class="container" style="width:500px;">
                   <h3 align="center">AngularJS Tutorial - Make Autocomplete Textbox</h3>

                        <label>Enter Country Name</label>
                        <input type="text" name="country" id="country" ng-model="country" ng-keyup="complete(country)" class="form-control" />
                        <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                             <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
                        </ul>
                   </div> -->

        <div class="animated zoomInRight">
            <div class="indentLeft input-group search-bar">
                <input type="text" name="country" id="country" ng-model="country" ng-keyup="complete(country)" class="form-control" placeholder="Enter the recipe name" autofocus />
                <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                    <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
                </ul>
                <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>

            </div>
        </div>


        <!-- <div class=text-right >
                <div class="input-group search-bar" >
                    <input type="text" ng-model="search" ng-model-options="{ debounce: 800 }" onclick="select()" class="form-control" placeholder="Enter the recipe name" autofocus />
                    <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div> -->
        <!--<div layout-align="end">
                  <select ng-model="selectedName" ng-options="x for x in names">
                  </select>
              </div>-->



        <!-- <div class="input-group search-bar">
                        <input type="text" ng-model="userIngredients" class="form-control" placeholder="Ingredients.." autofocus />
                        <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
                    </div> -->

        <div class="span2 ingredients-searchBar">
            <h2>Search by Ingredients</h2>
            <input type="text" ng-model="userIngredients" class="rounded" class="form-control ng-pristine ng-untouched ng-valid" placeholder="what's in your fridge?">



            <button class="btn btn-primary btn-sm" ng-click="searchUserIngredients()">COOK IT !</button>



            <div class="spacing" ng-repeat="x in displayIngredients">

                <div id="listAlignment" class="list-group-item list-group-item-action list-group-item-secondary" class="list-group">

                    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.ingredientList"></span>
                </div>
            </div>

            <div ng-if="details">
                <button type="button" class="btn btn-danger btn-sm" ng-click="removeIngredients()">Remove marked!</button>
            </div>
        </div>


       <div class="indentRight" id="related-results" ng-include="'partials/related-results.html'"></div>

       <div  ng-if="showRegisterModal" ng-include="'partials/register.html'"></div>
 <div ng-if="showLoginModal"  ng-include="'partials/login.html'"></div>


    </div>
  </div>
  </div>
