
  <div modal="showModal" class="modal" close="cancel()">


    <div class="container">
        <span ng-click="cancel()" style="cursor:pointer;"><span class="glyphicon glyphicon-remove"></span></span>
        <div class="alert alert-danger" ng-if="errorMessage"><strong>{{ errorMessage }}</strong></div>


            <div class="row centered-form">

            	<div class="panel panel-default">
            		<div class="panel-heading">
    			    		<h3 class="panel-title">Save your search </h3>
                    <div ng-click="saveClose()">
                        <span class="close-icon-align glyphicon glyphicon-remove"></span>
                    </div>

    			 			</div>
    			 			<div class="panel-body">



                        <div>
                            <label>Name</label>
                            <input type="text" name="saveName" class="form-control" ng-model="saveName" required />

                        </div>


<br>

  <button ng-click="saveIngredientName()" class="btn btn-info btn-block">Save As</button>

    			    	</div>
    	    		</div>

        	</div>
        </div>
      </div>
