


.nojs {
    padding: 2px;
    padding-left: 6px;
    margin-bottom: 5px;
    background: #ff0000;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.outerdiv {
    margin-top: 60px;
}

.span-style {
    font-size: 17px;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;
}

.bar-style {
    background: #337AB7;
    color: rgb(250, 250, 250);
}

.related-results {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.movie-poster {
    float: left;
    width: 150px;
    margin-right: 10px;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.span-outer {
    font-size: 20px;
}

.outer-p {
    margin-top: 10px;
}

.inner-p {
    margin: 2px;
}

.outer-p-2 {
    margin-top: 5px;
}

.outer-p-3 {
    margin-top: 15px;
}

.divider {
    margin: 0 8px 0 8px;
}

.divider:before {
    content: "|";
}

.rounded {
    border-radius: 10px;
    width: 300px;
    height: 30px;
}

h2 {
    font: normal small-caps normal 0.1px Georgia;

}

li {
    cursor: pointer;
}

li:hover {
    background-color: #f9f9f9;
}


.indentLeft {
  float : right;
}

.row {
  /*width: 61%;



  left: 555px;
  top: 161px;*/

  width: 62%;
/* z-index: -1; */
left: 552px;
top: 61px;
/* background
    /*background-color: #c2c6c9;*/
    background-color: rgba(0, 0, 0, .075);
    border-top:1px solid #ddd;
    border-radius: 100px / 0px;
    box-shadow:0 0 18px rgba(0,0,0,0.6);

    /*background-image: url(../images/recipebg.jpg);*/

}


.span2 {
  /*background-color: green;
  width:450px;
  height:600px;
  overflow:hidden;*/
  /*border:solid 2px black;*/
}


/*.well {
  background-color: #c2c6c9;
}*/

#listAlignment {
  width : 37%;
  background-color: #c2c6c9;
      margin-top: 1%;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

/* Modal Body */
.modal-body {

  background-color: white;
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.span8 {
  /*position: absolute;*/
  z-index: -1;
  left: 555px;
  top: 208px;
    /*background-color: #c2c6c9;*/
    border-top:1px solid #ddd;
    border-radius: 100px / 5px;
    box-shadow:0 0 18px rgba(0,0,0,0.6);



}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal {
width: 41%;
height: 100%;
margin-top: 8%;
margin-left: 31%;
}


.h-scroll {
    height: 90vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
}

#indent {
  margin-bottom: 2%;
}

.backimg{
  background-color: green;
/*background-image : url(../images/bg-sky.png);*/
}


/*
.line {
  margin-left: 31%;
height: 100024px;
margin-top: -7%;
    border-left: 2px solid grey;
    display: inline-block;
    box-shadow: 2px 0px 2px #888;
}*/


.shadowEffect {
  width: 36%;
  height: 470px;
  margin-top: -1%;
background-color: rgba(0, 0, 0, .075);
  border-top:1px solid #ddd;
  border-radius: 100px / 0px;
  box-shadow:0 0 18px rgba(0,0,0,0.6);
  z-index: -1;

}

.thumbnail{
    width: 250px; // or you could use percentage value for responsive layout
    height: 250px;
    overflow: hidden;
}

.thumbnail img{
// your styles for the images
height: 200px;
}

/*img {
  height: 250px;
  width: 250px;
}*/

div.polaroid {
  margin-bottom: 2%
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 8px;
  align-items: center;
      margin-top: 5%;
}

div.container {
  /*text-align: center;*/
  padding: 10px 20px;


}

h4 {
    word-wrap: break-word;
}

img {
  height: 250px;
      width: 258px;
      border-radius: 8px;
          padding-top: 9px;
      padding-left: 10px;
      border-radius: 20px;
}

.navbar-header {
  width: 100%;
}

.ingredients-searchBar {
      margin-left: 3%;
}


.w3-margin {
margin-left: 38px;
margin-top: 26px;
}

div.container{

  width: 100%;
  height: 68px;

}
div.polaroid {
  max-height: 100%;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

span.glyphicon.glyphicon.trash {
  right: 32%;
  top : 3%;
}

.rounded-button {
    border-radius: 33px;
    width: 27px;
    height: 25px;
}
.img-align{
  margin-bottom: 22px;
    margin-left: 243px;
    margin-top: 168px;

    height: 427px;
    width: 448px;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.image-align {
  height : 347px;
}

.text-center {
  text-align: center;
}
#loading-bar-container {
  position: relative;
    background: #33ba3a;
}

.icon-align {
      padding-left: 12px;
      line-height: 3;

}

.close-icon-align{
  float : right;
  top : -15px;
  cursor: pointer;
}

.popover-style {
  cursor: pointer;
   /*color: #fff;*/
}
